<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/index.html">Home</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/about"> About </a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/Research"> Research </a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/Blog"> Blog </a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/Publications"> Publications </a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/Resume"> Resume </a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/Software"> Software </a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/Build"> Build </a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/COVID"> COVID19 </a>


    </nav>

    <a href="mailto:{{ site.author.gmail }}@gmail.com?Subject=Is%20this%20a%20spam">
    <img style="display: inline" src="{{ site.baseurl }}/assets/icons/mail.png" alt="" width="24" height="24">
    </a>

    <a  href="https://github.com/{{ site.author.github }}">
    <img style="display: inline" src="{{ site.baseurl }}/assets/icons/github.png" alt="" width="24" height="24">
    </a> 

    <a  href="https://twitter.com/{{ site.author.twitter }}">
    <img style="display: inline" src="{{ site.baseurl }}/assets/icons/twitter.png" alt="" width="24" height="24" />
    </a> 

    <a href="https://scholar.google.com/citations?user={{ site.author.googleScholar }}=en">
    <img style="display: inline" src="{{ site.baseurl }}/assets/icons/gscholar.png" alt="" width="24" height="24" />
    </a> 

    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"> 
    <img style="display: inline" src="{{ site.baseurl }}/assets/icons/linkedin.png" alt="" width="24" height="24" />
    </a> 

    <a href="https://orcid.org/{{ site.author.orcid }}"> 
    <img style="display: inline" src="{{ site.baseurl }}/assets/icons/orcid.png" alt="" width="24" height="24" />
    </a> 



  </div>
</div>
